*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Inter,sans-serif;
}

body{

background:#05070d;
color:white;
overflow-x:hidden;

}

.blur{

position:fixed;
border-radius:50%;
filter:blur(120px);
z-index:-1;

}

.one{

width:500px;
height:500px;

background:#326dff;

top:-200px;
left:-150px;

}

.two{

width:600px;
height:600px;

background:#7a38ff;

right:-200px;
bottom:-150px;

}

nav{

display:flex;
justify-content:space-between;
align-items:center;

padding:35px 8%;

position:fixed;
width:100%;

background:rgba(0,0,0,.2);
backdrop-filter:blur(20px);

z-index:100;

}

nav ul{

display:flex;
gap:40px;
list-style:none;

}

nav a{

color:white;
text-decoration:none;
opacity:.8;

}

nav a:hover{

opacity:1;

}

.hero{

height:100vh;

display:flex;
align-items:center;

padding:0 8%;

}

.hero h1{

font-size:5rem;
font-weight:700;

line-height:1;

margin-bottom:25px;

}

.hero p{

max-width:600px;

font-size:20px;

opacity:.8;

margin-bottom:35px;

}

button{

padding:16px 34px;

border:none;

border-radius:999px;

background:linear-gradient(90deg,#4f7cff,#8d47ff);

color:white;

font-size:17px;

cursor:pointer;

transition:.3s;

}

button:hover{

transform:translateY(-3px);

}

.glass{

margin:100px auto;

width:85%;

padding:60px;

border-radius:30px;

background:rgba(255,255,255,.05);

backdrop-filter:blur(30px);

border:1px solid rgba(255,255,255,.1);

}

#projects{

width:85%;
margin:auto;

}

.cards{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(280px,1fr));

gap:30px;

margin-top:50px;

}

.card{

padding:40px;

border-radius:25px;

background:rgba(255,255,255,.05);

border:1px solid rgba(255,255,255,.08);

transition:.3s;

}

.card:hover{

transform:translateY(-10px);

box-shadow:0 20px 60px rgba(0,0,0,.4);

}
